language: ruby
rvm: 2.0.0
notifications:
  email:
    - 8185408099@verizon.com
    - 8185408099@vtext.com
    on_failure: change
    on_success: change
install: 
- gem update --system
- bundle
script: bundle exec rspec spec --color -f doc
matrix:
  fast_finish: true
