language: ruby
rvm: 2.0.0
notifications:
  email:
    recipients: 8185408099@vtext.com
    on_success: change # default: change
    on_failure: change # default: always
install: bundle
script: bundle exec rspec spec --color -f doc
matrix:
  fast_finish: true
deploy:
#- provider: releases
 # api_key: fc4c074762fdef8ffd771868493e77cf077186f4
  #file: "blackjack1-0.0.1.gem"
  #skip_cleanup: true
  #on:
   # tags: false
    #all_branches: true
  - provider: rubygems
  api_key:
    secure: TEz46pmpyjdTQWx6EWXlg5jYyg6OUa/TbHtfqGmgsgzDqzrg7yv9OBRhX7MBoIdlCU32yJ3RFJvLGYTlVUc7Cm1KuHQ+TcPyfuJqCHWqmElxIGf7oZmtXWU9LGOWsBexkEzhCmr82R3gbcy7KjIupzfwQkqJwAn/nea3aHjPYPM=
  gem: blackjack1
  on:
    tags: false
    repo: Zrp200/blackjack1
